<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/images/default-img/favicon-play.png">
</head>

<body data-theme="" class="body-playvideo">
  <div class="error-alert">
    <i class="fas fa-times error-close"></i>
    <i class="fas fa-exclamation-triangle error-i"></i>
    <div class="text-alert-error">
      <div>Error</div>
      <div class="err-desc"></div>
    </div>
  </div>
  <div class="container" style="margin-bottom: 70px;">
    <header class="nav-container"
      style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
      <div class="nav-logo">
        <i class="fas fa-bars nav-hamburger"></i>
        <a href="/">
          <img src="/images/default-img/logo.png" alt="image" class="logo-img logo-img-play-video" />
          <img src="/images/default-img/small-logo.png" alt="image" class="small-logo-img" />
        </a>
      </div>
      <div class="nav-content nav-content-play-video">
        <form action="" class="form-search-video form-search-video-play seacrh-videos-padding-right"
          style="max-width: 500px;">
          <input type="search" placeholder="Search" name="searchVideo" class="input-watch-ft" />
          <i class="fas fa-times close-search"></i>
        </form>
        <div class="search-btn">
          <i class="fas fa-search"></i>
        </div>
        <div class="nav-upload">
          <button class="btn-upload" onclick="location.href='/studio/add'" style="display: none;">
            <i class="fas fa-plus" style="font-size: 12px;margin-right: 7px;"></i>
            <i class="fas fa-video"></i>
          </button>
          <div class="nav-user" style="display: none;">
            <div class="profile-img-container">
              <img src="/images/default-img/profile-user.png" class="profile-user-img" alt="image" />
              <div class="dropdown-profile-container">
                <a href="/editProfile" class="dropdown-profile-container-link">
                  <i class="fas fa-user-circle"></i>
                  Edit Your Account
                </a>
                <a href="/studio" class="dropdown-profile-container-link">
                  <i class="fas fa-play-circle"></i>
                  Rasyid Film Studio
                </a>
                <a href="/login" class="dropdown-profile-container-link dropdown-profile-container-link-signout">
                  <i class="fas fa-sign-out-alt"></i>
                  Sign Out
                </a>
              </div>
            </div>
            <a class="nav-username-profile"></a>
          </div>
          <button class="login-btn" onclick="location.href='/login'">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="sidebar-container sidebar-container-fixed">
        <a href="/" class="favicon-fixed">
          <img src="/images/default-img/logo.png" alt="image" class="logo-img logo-img-fixed" />
        </a>
        <i class="fas fa-times close-fixed-sb"></i>
        <a href="/" class="sidebar-item-link">
          <i class="fas fa-home icon-item-link"></i>
          <span class="text-item-link">Home</span>
        </a>
        <a class="sidebar-item-link sidebar-item-link-channel-sb" style="display: none;">
          <i class="fas fa-video icon-item-link"></i>
          <span class="text-item-link">Your Channel</span>
        </a>
        <div class="sidebar-theme sidebar-theme-fixed">
          <i class="fas fa-sun icon-sidebar-theme light-theme-btn"></i>
          <i class="fas fa-moon icon-sidebar-theme dark-theme-btn"></i>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="content-container content-container-play-video">
        <div class="container-video-play-video" style="padding-top: 10px;padding:0 15px;">
          <div class="sub-container-video-play-video">
            <video class="video-play-video" controls autoplay>
              <source>
              Your browser does not support HTML video.
            </video>
            <div class="header-sub-video-play-video-container">
              <div class="title"></div>
              <div class="info-play-video">
                <span class="view-info"></span> Views &bull;
                <span class="date-info"></span>
              </div>
              <div class="btn-like-unlike-container">
                <button class="btn-like-container button-like-container">
                  <i class="far fa-thumbs-up"></i>
                  <span class="angka-like"></span>
                </button>
                <button class="btn-like-container button-unlike-container">
                  <i class="far fa-thumbs-down"></i>
                  <span class="angka-like"></span>
                </button>
              </div>
            </div>
            <div class="desc-sub-video-play-video-container">
              <img src="/images/default-img/profile.png" alt="image" />
              <div class="sub-desc-sub-video-play-video">
                <div class="username-sub-desc-sub-video-play-video"></div>
                <div class="description-sub-desc-sub-video-play-video"></div>
                <div class="text-custom-height">MORE</div>
              </div>
            </div>
            <div class="comment-sub-video-play-video-container">
              <div class="total-comment-play-video">
                <span></span> Comments
              </div>
              <form action="" class="add-comment-container">
                <img src="/images/default-img/profile.png" alt="image" />
                <div class="input-comment-container">
                  <textarea type="text" name="inputAdd" id="inputAdd" oninput="auto_grow(this)"
                    placeholder="Write a public comment..." autocomplete="off" /></textarea>
                  <div class="btn-container-input-comment-container">
                    <button type="button" class="btn-cancel-add-comment">Cancel</button>
                    <button class="btn-add-comment" id="btn-add-comment-click">Comment</button>
                  </div>
                </div>
              </form>
              <div class="comments-container"></div>
              <button class="load-more-comments" style="display: none;">Load More Comments</button>
            </div>
          </div>
          <div class="container-video-random-play-video"></div>
        </div>
      </div>
    </main>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  if (!localStorage.getItem("token")) {
    $(".form-search-video-play input").addClass("input-wacth-sp")
  }

  let dataQuery = null;
  let commentsQuery = null;
  let idVideoUrl = window.location.href.split("/").pop()

  $(document).ready(function () {
    if (localStorage.getItem("theme") == "dark") {
      $('body').attr("data-theme", localStorage.getItem("theme"));
      $(".dark-theme-btn").addClass("icon-sidebar-theme-active");
      $(".light-theme-btn").removeClass("icon-sidebar-theme-active");
    } else {
      $('body').attr("data-theme", localStorage.getItem("theme"));
      $(".light-theme-btn").addClass("icon-sidebar-theme-active");
      $(".dark-theme-btn").removeClass("icon-sidebar-theme-active");
    }

    loadData({
      view: 1
    }, idVideoUrl).done(function (data) {
      let options = {
        year: "numeric",
        month: "long",
        day: "numeric",
      };

      let {
        video,
        videos,
        videosNoLimit,
        pIndex,
        limit
      } = data;

      dataQuery = {
        pIndex,
        videosNoLimit,
        limit
      }

      $(".video-play-video source").attr('src', `/video/${video.UrlVideo}`);
      $(".video-play-video")[0].load();

      $(".title").text(`${video.title}`);
      $(".info-play-video .view-info").text(`${video.views + 1}`);
      $(".info-play-video .date-info").text(`${new Date(video.createdAt).toLocaleString("id-ID", options)}`);
      $(".button-like-container .angka-like").text(`${video.likes.length}`);
      $(".button-unlike-container .angka-like").text(`${video.dislikes.length}`);
      $(".description-sub-desc-sub-video-play-video").text(`${video.desc}`);

      $(".username-sub-desc-sub-video-play-video").html(`${video.User.firstname.toUpperCase()} ${video.User.lastname.toUpperCase()} 
      <i class="fas fa-check-circle" style="opacity: .5;"></i>`)

      drawVideos(videos, videosNoLimit);
      drawProfile();
    });

    loadComment({}, idVideoUrl).done(function (data) {
      let {
        comments,
        totalComments,
        commentsNoLimit,
        pIndex,
        limit,
      } = data;

      commentsQuery = {
        pIndex,
        commentsNoLimit,
        limit
      }

      if (commentsNoLimit.length > 3) {
        $(".load-more-comments").css({
          display: "block"
        })
      }

      drawComments(totalComments, comments);
    });
  });

  const loadData = (queryUrl, idVideoUrl) => {
    return $.ajax({
      url: `/api/videos/watch/${idVideoUrl}`,
      method: 'GET',
      data: queryUrl,
    }).fail(function (err) {
      $(".error-alert").css({
        visibility: "visible",
        opacity: "1"
      });

      $(".err-desc").text(err.responseJSON.err);

      setTimeout(() => {
        $(".error-alert").css({
          visibility: "hidden",
          opacity: "0"
        });
      }, 5000);
    });
  };

  const drawVideos = (videos, videosNoLimit) => {
    let options = {
      year: "numeric",
      month: "long",
      day: "numeric",
    };

    if (videos.length != 0) {
      let videoRandomCode = '';
      for (let i = 0; i < videos.length; i++) {
        videoRandomCode += `<div class="sub-container-video-random-play-video" onclick="location.href='/watch/${videos[i].id}'">
                                <div class="video-container-play-video">
                                  <img src="/images/thumbnail/${videos[i].thumbnail}" alt="image" />
                                  <div class="video-duration-play-video"></div>
                                </div>
                                <div class="text-video-user-container-play-video">
                                  <div class="title-video-play-video">${videos[i].title}</div>
                                  <a href="/channel/${videos[i].UserId}" class="username-video-play-video stopClick">${videos[i].User.firstname.toUpperCase()} ${videos[i].User.lastname.toUpperCase()}</a>
                                  <div class="username-video-play-video info-video-play-video">
                                    <span class="view-info">${videos[i].views}</span> views &bull;
                                    <span class="date-info">${new Date(videos[i].createdAt).toLocaleString("id-ID", options)}</span>
                                  </div>
                                </div>
                              </div>`;
      }
      $(".container-video-random-play-video").append(videoRandomCode);

      for (let i = 0; i < videosNoLimit.length; i++) {
        var videoElement = document.createElement('video');
        videoElement.src = `/video/${videosNoLimit[i].UrlVideo}`;
        let videoDuration = ""
        videoElement.onloadedmetadata = function () {
          var hour = Math.floor(this.duration / 3600);
          var minutes = Math.floor((this.duration / 60) % 60);
          var seconds = Math.round((this.duration % 60));

          videoDuration = `${hour ? hour + "." : ""}${minutes}.${seconds - 1}`;
          if ($(".video-duration-play-video")[i]) {
            document.querySelectorAll(".video-duration-play-video")[i].textContent = videoDuration;
          }
        }
      }
    }

    if ($(".sub-container-video-random-play-video").length == 0) {
      $(".sub-container-video-play-video").css({
        "width": "100%",
      })
      $(".container-video-play-video").css({
        "width": "100%"
      })
      $(".video-play-video").css({
        "height": "45vw",
        "maxHeight": "520px"
      })
      $(".content-container-play-video").css({
        "maxWidth": "1200px",
        "marginLeft": "auto !important",
        "marginRight": "auto !important",
      })

      $(".content-container-play-video").addClass("content-container-play-video-auto");
    }
  }

  const drawProfile = () => {
    if (localStorage.getItem("token")) {
      $(".form-search-video-play").removeClass("seacrh-videos-padding-right")

      $.ajax({
        url: '/api/token',
        headers: {
          'Authorization': `Bearer ${localStorage.getItem("token")}`
        }
      }).done(function (data) {
        $(".btn-upload").css({
          "display": "flex"
        });

        $(".nav-user").css({
          "display": "flex"
        });

        $(".login-btn").css({
          "display": "none"
        });

        $(".sidebar-item-link-channel-sb").css({
          "display": "block"
        });

        $(".nav-username-profile").attr('href', `/channel/${data.id}`);
        $(".sidebar-item-link-channel-sb").attr('href', `/channel/${data.id}`)
        $(".nav-username-profile").text(`${data.firstname.toUpperCase()} ${data.lastname.toUpperCase()}`);

      });
    }
  }

  const loadComment = (queryComment, idVideoUrl) => {
    return $.ajax({
      url: `/api/comments/${idVideoUrl}`,
      method: 'GET',
      data: queryComment,
    }).fail(function (err) {
      $(".error-alert").css({
        visibility: "visible",
        opacity: "1"
      });

      $(".err-desc").text(err.responseJSON.err);

      setTimeout(() => {
        $(".error-alert").css({
          visibility: "hidden",
          opacity: "0"
        });
      }, 5000);
    });
  }

  const drawComments = (totalComments, comments) => {
    let options = {
      year: "numeric",
      month: "long",
      day: "numeric",
    };

    $(".total-comment-play-video span").text(`${totalComments.length}`);
    let commentsCode = ``;
    for (let i = 0; i < comments.length; i++) {
      commentsCode += `<div class="sub-comments-container">
                            <a href="/channel/${comments[i].UserId}">
                              <img src="/images/default-img/profile.png" alt="image" />
                            </a>
                            <div class="text-sub-comments-container">
                              <a href="/channel/${comments[i].UserId}" class="username-comment">${comments[i].User.firstname.toUpperCase()} ${comments[i].User.lastname.toUpperCase()}</a>
                              <span>${new Date(comments[i].createdAt).toLocaleString("id-ID", options)}</span>
                              <div class="desc-comment">${comments[i].desc}</div>
                            </div>
                            <i class="fas fa-trash-alt delete-comment" data-commentId="${comments[i].id}"></i>
                          </div>`;
    }

    $(".comments-container").append(commentsCode);

    for (let i = 0; i < comments.length; i++) {
      if (Number(localStorage.getItem("UserIdLogin")) == comments[i].UserId) {
        $(`[data-commentId=${comments[i].id}]`).addClass("comment-delete-active");
      }
    }
  }

  $(".load-more-comments").click(function () {
    if (commentsQuery.pIndex != Math.ceil(commentsQuery.commentsNoLimit.length / 3)) {
      loadComment({
        page: commentsQuery.pIndex + 1,
      }, idVideoUrl).done(function (data) {
        let {
          comments,
          totalComments,
          commentsNoLimit,
          pIndex,
          limit,
        } = data;

        commentsQuery = {
          pIndex,
          commentsNoLimit,
          limit
        }

        drawComments(totalComments, comments);
      });
    }

    if ((commentsQuery.pIndex + 1) == Math.ceil(commentsQuery.commentsNoLimit.length / 3)) {
      $(".load-more-comments").css({
        display: "none"
      })
    }
  })

  $(".comments-container").on("click", ".comment-delete-active", function () {
    let commentId = Number($(this).attr("data-commentId"));
    deleteComment(commentId)
  })

  const deleteComment = (idComment) => {
    $.ajax({
      method: "DELETE",
      url: `/api/comments/delete/${idComment}`,
      headers: {
        'Authorization': `Bearer ${localStorage.getItem("token")}`
      }
    }).done(function () {
      let idVideoUrlInner = window.location.href.split("/").pop()
      $(".comments-container").html("");

      loadComment({
        page: 0,
        limit: commentsQuery.commentsNoLimit.length
      }, idVideoUrlInner).done(function (data) {
        let {
          comments,
          totalComments,
          commentsNoLimit,
          pIndex,
          limit,
        } = data;

        commentsQuery = {
          pIndex,
          commentsNoLimit,
          limit
        }

        drawComments(totalComments, comments)

        $(".load-more-comments").css({
          display: "none"
        })
      });
    }).fail(function (err) {
      $(".error-alert").css({
        visibility: "visible",
        opacity: "1"
      });

      $(".err-desc").text(err.responseJSON.err);

      setTimeout(() => {
        $(".error-alert").css({
          visibility: "hidden",
          opacity: "0"
        });
      }, 5000);
    });
  };

  if (!localStorage.getItem("token")) {
    $(".input-comment-container input").focus(function () {
      window.location.href = "/login"
    });

    $(".btn-container-input-comment-container button").click(function () {
      window.location.href = "/login"
    });

    $(".add-comment-container").submit(function (event) {
      event.preventDefault();
      window.location.href = "/login"
    });
  }

  $(".add-comment-container").submit(function (event) {
    event.preventDefault();
    if ($("#inputAdd").val() != "") {
      const descComment = $("#inputAdd").val();
      addComment(descComment);
      $("#inputAdd").val("")
      $("#inputAdd").css({
        height: "30px"
      })
    }
  });

  const addComment = (data) => {
    $.ajax({
      method: "POST",
      url: `/api/comments/${idVideoUrl}/add`,
      data: {
        desc: data
      },
      headers: {
        'Authorization': `Bearer ${localStorage.getItem("token")}`
      }
    }).done(function (data) {
      let idVideoUrlInner = window.location.href.split("/").pop()
      $(".comments-container").html("");

      loadComment({
        page: 0,
        limit: commentsQuery.commentsNoLimit.length + 1
      }, idVideoUrlInner).done(function (data) {
        let {
          comments,
          totalComments,
          commentsNoLimit,
          pIndex,
          limit,
        } = data;

        commentsQuery = {
          pIndex,
          commentsNoLimit,
          limit
        }

        drawComments(totalComments, comments)

        $(".load-more-comments").css({
          display: "none"
        })
      });
    }).fail(function (err) {
      $(".error-alert").css({
        visibility: "visible",
        opacity: "1"
      });

      $(".err-desc").text(err.responseJSON.err);

      setTimeout(() => {
        $(".error-alert").css({
          visibility: "hidden",
          opacity: "0"
        });
      }, 5000);
    });
  }


  $(".container-video-random-play-video").on("click", ".stopClick", function (e) {
    e.stopPropagation();
  });

  const searchData = (queryUrl) => {
    $.ajax({
      url: `/api/videos${queryUrl ? queryUrl : ""}`
    }).done(function (data) {
      window.location.href = `/${queryUrl ? queryUrl : ""}`;
    }).fail(function (err) {
      window.location.href = `/${queryUrl ? queryUrl : ""}`;
    });
  };

  $(".form-search-video-play").submit(function (event) {
    event.preventDefault();

    let inputSearch = $(".form-search-video-play input").val();
    urlSearch = `?searchName=${inputSearch}`;
    searchData(urlSearch);
  })

  $('.nav-hamburger').click(function () {
    if ($(".sidebar-container-fixed").css('marginLeft') == '0px') {
      $(".overlay").removeClass("overlay-show-watch");
    } else {
      $(".overlay").addClass("overlay-show-watch");
      $(".sidebar-container-fixed").addClass("sidebar-container-fixed-margin-watch");
    }
  })


  $(".search-btn").on("click", function () {
    $(".form-search-video").addClass("form-search-video-fixed");
    $(".close-search").addClass("close-search-fixed");
    $(".form-search-video input").addClass("input-fixed");
    $(".sidebar-container").css({
      "z-index": "99"
    });

    $('.sidebar-theme').css({
      "visibility": "hidden"
    });

    $(".nav-container").css({
      boxShadow: "none"
    })

  })

  $(".close-search").on("click", function () {
    $(".form-search-video").removeClass("form-search-video-fixed");
    $(".close-search").removeClass("close-search-fixed");
    $(".form-search-video input").removeClass("input-fixed");
    $(".sidebar-container").css({
      "z-index": "100"
    });

    $(".nav-container").css({
      boxShadow: "rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 32px"
    })
  })

  $('.form-search-video input').keyup(function (e) {
    if (e.keyCode == 13) {
      $(".form-search-video").removeClass("form-search-video-fixed");
      $(".close-search").removeClass("close-search-fixed");
      $(".form-search-video input").removeClass("input-fixed");
      $(".sidebar-container").css({
        "z-index": "1000",
      });
    }
  });

  $(".overlay").on("click", function () {
    $(".sidebar-container-fixed").removeClass("sidebar-container-fixed-margin-watch");
    $(".overlay").removeClass("overlay-show-watch");
  })


  $(".close-fixed-sb").on("click", function () {
    $(".sidebar-container-fixed").removeClass("sidebar-container-fixed-margin-watch");
    $(".overlay").removeClass("overlay-show-watch");
  })

  $(".light-theme-btn").click(function () {
    localStorage.setItem("theme", "light");
    $('body').attr("data-theme", localStorage.getItem("theme"));
    $(".light-theme-btn").addClass("icon-sidebar-theme-active");
    $(".dark-theme-btn").removeClass("icon-sidebar-theme-active");
  });

  $(".dark-theme-btn").click(function () {
    localStorage.setItem("theme", "dark");
    $('body').attr("data-theme", localStorage.getItem("theme"));
    $(".dark-theme-btn").addClass("icon-sidebar-theme-active");
    $(".light-theme-btn").removeClass("icon-sidebar-theme-active");
  });


  $(document).click(function (event) {
    if (
      event.target.className != "profile-user-img" &&
      event.target.className != "dropdown-profile-container-link"
    ) {
      $(".dropdown-profile-container").css({
        visibility: "hidden",
      });
    } else {
      $(".dropdown-profile-container").css({
        visibility: "visible",
      });
    }
  });

  $(".nav-upload").on("click",
    ".nav-user .profile-img-container .dropdown-profile-container .dropdown-profile-container-link-signout",
    function () {
      localStorage.removeItem("token")
      localStorage.removeItem("UserIdLogin")
    })

  $(".text-custom-height").click(function () {
    if ($(this).text() == "MORE") {
      $(this).text("LESS");
      $(".description-sub-desc-sub-video-play-video").css({
        "max-height": "none"
      })
    } else {
      $(this).text("MORE");
      $(".description-sub-desc-sub-video-play-video").css({
        "max-height": "122px"
      })
    }
  })

  document.querySelector(".video-play-video").addEventListener("webkitfullscreenchange", function (e) {
    if (e.target.webkitDisplayingFullscreen) {
      document.querySelector(".video-play-video").style.objectFit = "contain";
      document.querySelector(".video-play-video").style.borderRadius = "0";
    } else {
      document.querySelector(".video-play-video").style.objectFit = "cover";
      document.querySelector(".video-play-video").style.borderRadius = "15px";
    }
  });

  $(".input-comment-container input").focus(function () {
    $(this).addClass("input-add-comment-active");
  });

  $(".input-comment-container input").blur(function () {
    $(this).removeClass("input-add-comment-active");
  });

  if (localStorage.getItem("token")) {
    $(document).ready(function () {
      loadLike()
    })

    $(".button-like-container").one("click", function () {
      $(".button-like-container .angka-like").text(`${Number($(".button-like-container .angka-like").text()) + 1}`);
      loadLike(localStorage.getItem("UserIdLogin"), "");
      $(".button-like-container").children("i").attr('class', 'fas fa-thumbs-up');
      $(".button-like-container").attr("disabled", true);
      $(".button-unlike-container").attr("disabled", true);
      $(".btn-like-unlike-container").css({
        opacity: ".3"
      })

      $(".button-unlike-container").css({
        cursor: "not-allowed"
      })

      $(".button-like-container").css({
        cursor: "not-allowed"
      })
    })

    $(".button-unlike-container").one("click", function () {
      $(".button-unlike-container .angka-like").text(
        `${Number($(".button-unlike-container .angka-like").text()) + 1}`);
      loadLike("", localStorage.getItem("UserIdLogin"));
      $(".button-unlike-container").children("i").attr('class', 'fas fa-thumbs-down');
      $(".button-unlike-container").attr("disabled", true);
      $(".button-like-container").attr("disabled", true);
      $(".btn-like-unlike-container").css({
        opacity: ".3"
      })

      $(".button-unlike-container").css({
        cursor: "not-allowed"
      })

      $(".button-like-container").css({
        cursor: "not-allowed"
      })
    })


    const loadLike = (likes, dislikes) => {
      $.ajax({
        url: `/api/videos/like/${idVideoUrl}?likes=${likes ? likes : ""}&dislikes=${dislikes ? dislikes : ""}`,
        headers: {
          'Authorization': `Bearer ${localStorage.getItem("token")}`
        }
      }).done(function (data) {
        data.likes.forEach(m => {
          if (m == Number(localStorage.getItem("UserIdLogin"))) {
            $(".button-like-container").children("i").attr('class', 'fas fa-thumbs-up');
            $(".button-like-container").attr("disabled", true);
            $(".button-unlike-container").attr("disabled", true);
            $(".btn-like-unlike-container").css({
              opacity: ".3"
            })

            $(".button-unlike-container").css({
              cursor: "not-allowed"
            })

            $(".button-like-container").css({
              cursor: "not-allowed"
            })
          }
        });

        data.dislikes.forEach(m => {
          if (m == Number(localStorage.getItem("UserIdLogin"))) {
            $(".button-unlike-container").children("i").attr('class', 'fas fa-thumbs-down');
            $(".button-unlike-container").attr("disabled", true);
            $(".button-like-container").attr("disabled", true);
            $(".btn-like-unlike-container").css({
              opacity: ".3"
            })

            $(".button-unlike-container").css({
              cursor: "not-allowed"
            })

            $(".button-like-container").css({
              cursor: "not-allowed"
            })
          }
        });
      }).fail(function (err) {
        $(".error-alert").css({
          visibility: "visible",
          opacity: "1"
        });

        $(".err-desc").text(err.responseJSON.err);

        setTimeout(() => {
          $(".error-alert").css({
            visibility: "hidden",
            opacity: "0"
          });
        }, 5000);
      });
    }
  } else {
    $(".button-like-container").one("click", function () {
      window.location.href = "/login";
    })

    $(".button-unlike-container").one("click", function () {
      window.location.href = "/login";
    })

  }

  $(".error-close").click(function () {
    $(".error-alert").css({
      visibility: "hidden",
      opacity: "0"
    });
  })

  $(".btn-cancel-add-comment").click(function () {
    $(".input-comment-container input").val("");
  })

  let checkScroll;

  $(window).scroll(function () {
    checkScroll = Math.ceil($(window).scrollTop()) >= $(document).height() - $(window).height();

    if (dataQuery) {
      if ((dataQuery.pIndex + 1) != Math.ceil(dataQuery.videosNoLimit.length / 5)) {
        if (checkScroll) {
          loadData({
            page: dataQuery.pIndex + 1,
            limit: 5
          }, idVideoUrl).done(function (data) {
            let {
              video,
              videos,
              limit,
              videosNoLimit,
              pIndex,
            } = data;

            dataQuery = {
              pIndex,
              limit,
              videosNoLimit
            }

            drawVideos(videos, videosNoLimit);
          })
        }
      }
    }
  });

  function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight) + "px";
  }
</script>

</html>