body {
  --primary-color-dark: white;
  --primary-color-light: white;
  --primary-color-dark-inverted: rgb(3, 3, 3);
  --secoodary-color: rgb(107, 105, 105);
  --border-input-color: rgb(194, 194, 194);
  --active-sidebar-color: rgba(136, 136, 136, 0.1);
  --border-sidebar-color: rgba(187, 187, 187, 0.5);
  --title-video-color: rgb(0, 0, 0);
  --header-add-video: #4b4949;
  --hr-add-video: rgb(226, 226, 226);
  --textarea-color: #4d4b4b;
  --icon-awan-color: #686666;
  --border-table-content: #e5e5e5;
  --header-channel-color: rgb(241, 241, 241);
  --main-playvideo-color: #f9f9f9;
  --item-dropdown-color: rgb(107, 105, 105);
  --box-shadow-dropdown-color: rgba(100, 100, 111, 0.2);
  --pop-delete-background: #f2f2f4;
  --box-shadow-popup-error: rgba(149, 157, 165, 0.2);
  --box-shadow-edit-profile: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body[data-theme="dark"] {
  --primary-color-dark: rgb(21, 21, 23);
  --primary-color-light: rgb(33, 32, 35);
  --primary-color-dark-inverted: rgba(255, 255, 255, 0.8);
  --secoodary-color: rgb(115, 115, 117);
  --border-input-color: rgb(21, 21, 23);
  --active-sidebar-color: rgba(255, 255, 255, 0.05);
  --border-sidebar-color: rgb(21, 21, 23);
  --title-video-color: white;
  --header-add-video: rgb(252, 116, 25);
  --hr-add-video: rgba(252, 105, 7, 0.76);
  --textarea-color: #ffffffd2;
  --icon-awan-color: #ffffffd0;
  --border-table-content: #464444c4;
  --header-channel-color: rgb(34, 34, 34);
  --main-playvideo-color: rgb(21, 21, 23);
  --item-dropdown-color: rgba(255, 255, 255, 0.8);
  --box-shadow-dropdown-color: transparent;
  --pop-delete-background: rgb(21, 21, 23);
  --box-shadow-popup-error: transparent;
  --box-shadow-edit-profile: transparent;
}

body {
  margin: 0;
  background: var(--primary-color-dark);
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav-container,
.nav-logo,
.nav-content,
.nav-upload,
.nav-user,
.btn-upload,
.container-login {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.nav-container {
  background: var(--primary-color-light);
  padding: 10px 15px;
  justify-content: flex-start;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  position: fixed;
  z-index: 100;
}

.nav-container-edit-profile {
  box-shadow: var(--box-shadow-edit-profile);
}

.nav-logo {
  width: 240px;
  justify-content: start;
}

.logo-img {
  width: 160px;
  margin-top: 5px;
  margin-right: 50px;
}

.small-logo-img {
  width: 70px;
  margin-left: 10px;
  margin-right: 0;
  padding: 5px 0;
  display: none;
}

.nav-hamburger {
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
  color: var(--secoodary-color);
}

.nav-content {
  width: 100%;
  padding-left: 50px;
  max-width: 2850px;
  box-sizing: border-box;
  padding-right: 105px;
}

.form-search-video {
  width: 50%;
  max-width: 600px;
  box-sizing: border-box;
}

.form-search-video-studio {
  margin-left: -20px;
}

.form-search-video input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: var(--secoodary-color);
  background: var(--primary-color-dark);
  outline: none;
  box-sizing: border-box;
  border: 3px solid var(--border-input-color);
  padding-left: 25px;
  padding-right: 15px;
  border-radius: 30px;
}

.close-search {
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 35px;
  visibility: hidden;
  right: 30px;
}

.search-btn {
  padding: 10px 12px;
  background: rgb(252, 116, 25);
  cursor: pointer;
  margin-left: auto;
  margin-right: 15px;
  display: none;
  color: var(--primary-color-dark);
  border-radius: 50%;
}

.btn-upload,
.login-btn {
  padding: 7px 15px;
  border-radius: 40px;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  color: rgb(252, 116, 25);
  border: 3px solid rgb(252, 116, 25);
  background: transparent;
  margin-right: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-upload:hover {
  color: white;
  background: rgb(252, 116, 25);
}

.login-btn {
  color: white;
  margin-right: 0;
  padding: 10px 12px;
  background: rgb(252, 116, 25);
}

.profile-user-img {
  width: 40px;
  border-radius: 5px;
}

.profile-img-container {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.dropdown-profile-container {
  position: absolute;
  width: 200px;
  top: 60px;
  background: var(--primary-color-light);
  left: -80px;
  padding: 12px 0;
  visibility: hidden;
  border-radius: 5px;
  box-shadow: var(--box-shadow-dropdown-color) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
}

.dropdown-profile-container::before {
  content: "";
  height: 0px;
  position: absolute;
  width: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -12px auto;
  border-bottom: solid 15px var(--primary-color-light);
  border-left: solid 14px transparent;
  border-right: solid 14px transparent;
}

.dropdown-profile-container a {
  display: block;
  text-decoration: none;
  color: var(--item-dropdown-color);
  padding: 10px 15px;
}

.dropdown-profile-container a:hover {
  background: var(--active-sidebar-color) !important;
}

.dropdown-profile-container a i {
  font-size: 20px;
  margin-right: 7px;
}

.nav-username-profile {
  font-weight: bold;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  opacity: 0.5;
  color: var(--primary-color-dark-inverted);
}

main {
  display: flex;
}

.sidebar-container {
  position: fixed;
  z-index: 100;
  width: 255px;
  bottom: 0;
  overflow: hidden;
  border-right: 3px solid var(--border-sidebar-color);
  background: var(--primary-color-light);
  box-sizing: border-box;
  height: calc(100% - 65px);
  padding-top: 20px;
}

.sidebar-item-link {
  display: block;
  width: 100%;
  box-sizing: border-box;
  width: 255px;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--secoodary-color);
}

.sidebar-item-link-active,
#sidebar-item-link {
  background: var(--active-sidebar-color);
  color: var(--primary-color-dark-inverted);
  font-weight: bold;
}

.icon-item-link {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-theme {
  position: absolute;
  bottom: 0;
  width: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background: var(--active-sidebar-color);
  margin-bottom: 10px;
  margin-left: 15px;
}

.icon-sidebar-theme {
  cursor: pointer;
  opacity: 0.35;
  font-size: 150%;
  color: var(--textarea-color);
}

.icon-sidebar-theme:hover {
  opacity: 1;
}

.icon-sidebar-theme-active {
  opacity: 1;
}

.content-container {
  width: 100%;
  margin-top: 62px;
  margin-left: 255px;
  display: flex;
  flex-wrap: wrap;
  max-width: 2850px;
  box-sizing: border-box;
  padding: 25px 40px 0;
}

.content-container-edit-profile {
  padding-left: 30px !important;
  padding-right: 30px !important;
  max-width: 1000px !important;
  flex-direction: column;
}

.video-container,
.video-container-channel {
  cursor: pointer;
  width: 15.8%;
  margin: 0 10px 20px;
}

.video-container:first-child,
.video-container:nth-child(2),
.video-container:nth-child(3) {
  width: 32.45%;
}

.video-thumbnail {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.video-duration {
  position: absolute !important;
  bottom: 7px;
  right: 7px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  transition: all 0.3s ease;
  color: white;
  visibility: hidden;
  padding: 5px;
}

.video-thumbnail:hover .video-duration {
  opacity: 0;
}

.video-container:first-child .video-thumbnail,
.video-container:nth-child(2) .video-thumbnail,
.video-container:nth-child(3) .video-thumbnail {
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}

.text-video-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
}

.container-video-profile-img {
  border-radius: 40px;
}

.video-profile-img {
  width: 50px;
  border-radius: 50%;
  visibility: hidden;
}

.text-video-user-container {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.title-video {
  overflow-wrap: anywhere;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 12px;
  text-decoration: none;
  color: transparent;
}

.username-video {
  text-decoration: none;
  color: transparent;
  font-size: 14px;
  overflow-wrap: anywhere;
}

.color-title-video {
  color: var(--title-video-color);
}

.color-title-video-transparent {
  opacity: 0.5;
  color: var(--title-video-color);
}

.loading {
  position: relative;
  background: #e2e2e2 !important;
  overflow: hidden;
}

.loading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  transform: translateX(-100%);
  animation: loading 1.5s infinite;
}

.overlay {
  position: fixed;
  z-index: 99999999;
  width: 100%;
  right: 0;
  height: 100vh;
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
}

.body-login {
  display: flex;
  height: 100vh;
}

.container-login {
  width: 100%;
  margin: auto;
  justify-content: center;
  max-width: 1350px;
}

.image-login {
  width: 50%;
  margin-right: 30px;
}

.input-login-container {
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
}

.input-register-container {
  width: 70%;
  max-width: 800px;
}

.logo-login {
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.logo-login-2 {
  margin: auto;
  margin-bottom: 50px;
  display: none;
  width: 250px;
}

.input-login-parent {
  width: 100%;
  position: relative;
}

.input-login {
  border: none;
  height: 50px;
  padding-left: 40px;
  box-sizing: border-box;
  margin-bottom: 35px;
  width: 100%;
  font-size: 18px;
  outline: none;
  color: rgb(55, 58, 36);
  border-bottom: 3px solid #dcdcda;
}

.input-login-container i {
  position: absolute;
  top: 5px;
  color: rgb(55, 58, 36);
  font-size: 25px;
  transition: all 0.3s ease;
}

.btn-submit-login,
.btn-submit-register:hover {
  border: none;
  outline: none;
  padding: 15px;
  margin-top: 20px;
  border-radius: 50px;
  background: rgb(252, 116, 25);
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 20px;
  box-sizing: border-box;
  border: 3px solid rgb(252, 116, 25);
}

.btn-submit-register {
  background: transparent;
  margin-top: 5px !important;
  color: rgb(252, 116, 25);
}

.container-add-video {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.header-edit-profile,
.form-edit-profile {
  width: 100%;
}

.header-add-video h1,
.header-edit-profile h1 {
  font-size: 45px;
  color: var(--header-add-video);
}

.header-edit-profile h1 {
  margin-top: 10px;
}

.form-add-video {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-no-btn-form-edit-profile-container {
  margin-bottom: 15px;
  max-width: 800px;
}

.container-input-add-video-title {
  width: 60%;
}

.input-add-video-container,
.input-form-edit-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-form-edit-profile-container {
  margin: 10px 0;
}

.input-add-video-container .label-add-video,
.label-add-video,
.header-content-container-content,
.label-form-edit-profile {
  font-weight: 600;
  font-size: 20px;
  color: var(--textarea-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.label-form-edit-profile {
  font-weight: normal;
}

.label-form-edit-profile {
  margin: 10px 0;
}

.input-add-video-container textarea,
.input-form-edit-profile {
  border: 1px solid rgb(209, 209, 209);
  resize: none;
  line-height: 27px;
  background: var(--primary-color-dark);
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--textarea-color);
  margin-bottom: 10px;
}

.input-form-edit-profile {
  padding: 8px 15px;
}

.input-form-edit-profile-disabled {
  opacity: 0.8;
  background: rgb(235, 235, 235);
  color: #4b4949;
}

.input-add-video-container textarea#title-add-video {
  height: 70px;
}

.input-add-video-container textarea#desc-add-video {
  height: 210px;
}

.input-add-video-container-thumbnail {
  width: 150px;
  position: relative;
}

.thumbnail-btn-container {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  border-radius: 7px;
  border: 3px dashed rgb(185, 184, 184);
}

.remove-thumbnail-btn,
.remove-thumbnail-btn-video {
  position: absolute;
  right: 7px;
  z-index: 100;
  top: 72px;
  display: none;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgba(49, 49, 49, 0.6);
  border-radius: 50%;
  padding: 3.5px 7px;
  cursor: pointer;
}

.remove-thumbnail-btn-video {
  top: 75px;
  right: 10px;
}

.remove-thumbnail-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.container-input-add-videos {
  width: 40%;
  padding-left: 30px;
  position: relative;
}

.input-container-without-btn-form-add-video {
  width: 100%;
  display: flex;
}

.drag-area {
  border: 2px dashed rgb(185, 184, 184);
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active {
  border: 2px solid rgb(185, 184, 184);
}

.drag-area .icon {
  font-size: 100px;
  color: var(--icon-awan-color);
  margin-bottom: 10px;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: var(--icon-awan-color);
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: var(--icon-awan-color);
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: rgb(252, 116, 25);
  color: var(--primary-color-light);
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#label-thumbnai-add-video {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  color: rgb(104, 102, 102);
  cursor: pointer;
}

.btn-submit-form-video-container {
  margin: 40px 0;
}

.btn-form-edit-profile-container {
  margin: 50px 0;
}

.btn-submit-form-video-container button,
.btn-edit-table-content,
.btn-delete-table-content,
.btn-pagination-table-content,
.btn-container-input-comment-container button,
.btn-form-edit-profile-container button,
.btn-delete-account-form-edit-profile,
.btn-box-popup-delete-account-container button,
.btn-back-home-error,
.load-more-comments {
  border: none;
  outline: none;
  padding: 10px 15px;
  color: transparent;
  background: #6c757d;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 4px;
}

.btn-delete-account-form-edit-profile {
  background: rgb(235, 87, 87) !important;
  margin-top: 10px;
}

.btn-add-form-video-container,
.btn-back-home-error,
.btn-form-edit-profile-container .btn-edit-form-edit-profile {
  background: rgb(252, 116, 25) !important;
}

.btn-delete-table-content {
  background: #de4f45 !important;
}

.btn-edit-table-content {
  background: #4c8854 !important;
}

.btn-pagination-content-container {
  margin-top: 20px;
}

.hr-add-video {
  border: none;
  border-top: 3px solid var(--hr-add-video);
  outline: none;
}

.input-active-add-video {
  color: rgb(252, 116, 25) !important;
  border-color: rgb(252, 116, 25) !important;
}

#sidebar-item-link {
  color: rgb(252, 116, 25) !important;
  border-left: 5px solid;
}

.image-profile-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-image-profile-content {
  display: block;
  width: 50%;
  min-width: 40px !important;
  margin-bottom: 20px;
  border-radius: 50%;
}

.image-profile-content {
  width: 100%;
  min-width: 40px !important;
  cursor: pointer;
  border-radius: 50%;
}

.title-profile-content-container {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.title-profile-content-container div {
  line-height: 20px;
  color: gray;
}

.title-profile-content-container div:first-child {
  color: var(--title-video-color);
  font-weight: bold;
}

.container-table-content {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--border-table-content);
  border-bottom: none;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.table-content th,
.table-content td {
  white-space: nowrap;
  color: var(--icon-awan-color);
  border-top: 1px solid var(--border-table-content);
  border-bottom: 1px solid var(--border-table-content);
  padding: 10px;
}

.th-style {
  text-align: left;
  box-sizing: border-box;
  padding-left: 28px !important;
}

.table-content td {
  padding: 10px 30px;
}

.container-table-content-1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.container-table-content-2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}

.container-table-content-2::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

.container-table-content-2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.container-table-content-2::-webkit-scrollbar-thumb {
  background: rgb(252, 116, 25);
  border-radius: 10px;
}

.container-table-content-2::-webkit-scrollbar-thumb:hover {
  background: rgb(223, 106, 29);
}

.header-content-container-content {
  margin-top: 40px;
  font-weight: bold;
  font-size: 25px;
}

.content-container-channel {
  flex-direction: column;
  padding: 0 !important;
}

.content-container-content {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.content-video-container-channel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 15px;
}

.header-content-video-container-channel {
  background: var(--header-channel-color);
  width: 100%;
  box-sizing: border-box;
  padding: 25px 50px 0 25px;
  margin-bottom: 10px;
}

.header-profile-content-video-container-channel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header-profile-content-video-container-channel img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.header-profile-content-video-container-channel div {
  font-size: 25px;
  color: var(--primary-color-dark-inverted);
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-btn-content-video-container-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn-content-video-container-channel a {
  padding: 15px 35px;
  color: var(--icon-awan-color);
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3.5px solid var(--icon-awan-color);
}

.input-search-container-channel {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 18px;
  width: 200px;
}

.input-search-container-channel label {
  font-size: 20px;
  color: var(--icon-awan-color);
  margin-right: 10px;
}

.input-search-container-channel input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--icon-awan-color);
  padding-bottom: 8px;
  width: 100%;
  opacity: 0.4;
  border-bottom: 2px solid var(--icon-awan-color);
}

.input-search-channel-active {
  opacity: 1 !important;
}

.input-search-container-channel input::placeholder {
  color: var(--icon-awan-color);
}

.text-video-user-container-channel {
  margin-left: 0 !important;
}

.sidebar-item-link-channel {
  color: var(--secoodary-color) !important;
  background: none !important;
}

.sidebar-item-link:hover {
  background: var(--active-sidebar-color) !important;
  color: var(--primary-color-dark-inverted) !important;
  font-weight: bold !important;
}

.nav-content-channel {
  padding-left: 20px;
}

.nav-content-studio {
  padding-left: 35px;
}

.container-input-edit-video-title {
  width: 80%;
}

.input-edit-video-container-thumbnail {
  margin-left: 30px;
}

.content-container-play-video {
  max-width: 1770px;
  margin-left: 0 !important;
  flex-wrap: nowrap;
}

.info-video {
  font-family: sans-serif;
  margin-top: 5px;
  width: 100%;
}

.body-playvideo {
  background-color: var(--main-playvideo-color);
}

.container-video-play-video {
  width: 100%;
  font-family: sans-serif;
  display: flex;
  margin: auto;
  margin-top: 15px;
}

.sub-container-video-play-video {
  width: 67%;
  margin-bottom: 20px;
}

.container-video-random-play-video {
  width: 33%;
  overflow: hidden;
  margin: 0 25px;
}

.video-play-video {
  min-height: 200px;
  width: 100%;
  height: 35vw;
  border: none;
  outline: none;
  overflow: hidden;
  max-height: 480px;
  object-fit: cover;
  border-radius: 15px;
}

.header-sub-video-play-video-container {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid var(--border-table-content);
}

.header-sub-video-play-video-container .title {
  font-size: 21px;
  color: var(--title-video-color);
  margin-bottom: 10px;
  line-height: 30px;
  overflow-wrap: anywhere;
}

.header-sub-video-play-video-container .info-play-video {
  overflow-wrap: anywhere;
  color: grey;
}

.btn-like-unlike-container {
  position: absolute;
  border-bottom: 3px solid var(--title-video-color);
  bottom: 0;
  right: 0;
}

.btn-like-container {
  background: transparent;
  color: var(--title-video-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  padding: 12px;
}

.desc-sub-video-play-video-container {
  display: flex;
  border-bottom: 1px solid var(--border-table-content);
  padding: 20px 0;
}

.desc-sub-video-play-video-container img {
  width: 60px;
  margin-right: 20px;
  border-radius: 50%;
  height: 60px;
}

.sub-desc-sub-video-play-video {
  margin-top: 20px;
}

.username-sub-desc-sub-video-play-video {
  font-weight: bold;
  overflow-wrap: anywhere;
  color: var(--title-video-color);
}

.description-sub-desc-sub-video-play-video {
  margin: 15px 0;
  overflow-wrap: anywhere;
  max-height: 122px;
  font-size: 16px;
  opacity: 0.8;
  color: var(--title-video-color);
  line-height: 24px;
  overflow: hidden;
}

.text-custom-height {
  font-weight: bold;
  cursor: pointer;
  color: grey;
}

.comment-sub-video-play-video-container {
  padding: 30px 0;
}

.total-comment-play-video {
  font-size: 20px;
  color: var(--title-video-color);
}

.add-comment-container {
  display: flex;
  margin: 25px 0;
  margin-top: 40px;
}

.add-comment-container img {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.input-comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-comment-container textarea {
  height: 30px;
  border: none;
  resize: none;
  overflow: hidden;
  font-family: sans-serif;
  outline: none;
  color: var(--title-video-color);
  border-bottom: 2px solid var(--border-table-content);
  background: transparent;
  font-size: 18px;
}

.input-add-comment-active {
  border-color: var(--title-video-color) !important;
}

.btn-container-input-comment-container {
  align-self: flex-end;
  margin-top: 10px;
}

.btn-add-comment {
  background: rgb(223, 106, 29) !important;
}

.btn-cancel-add-comment {
  background: transparent !important;
  color: rgb(94, 92, 92) !important;
}

.sub-comments-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sub-comments-container a {
  margin-right: 20px;
}

.sub-comments-container a img {
  width: 45px;
  height: 45px;
}

.username-comment {
  overflow-wrap: anywhere;
  text-decoration: none;
  color: var(--title-video-color);
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
}

.text-sub-comments-container {
  width: 100%;
}

.text-sub-comments-container span {
  color: rgb(126, 126, 126);
  font-size: 14px;
  overflow-wrap: anywhere;
  margin-left: -12px;
}

.desc-comment {
  overflow-wrap: anywhere;
  padding-right: 40px;
  margin-top: 10px;
  color: var(--title-video-color);
  opacity: 0.8;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

.delete-comment {
  color: rgb(235, 87, 87);
  visibility: hidden;
  margin-top: 30px;
  font-size: 18px;
  cursor: pointer;
}

.sub-comments-container:hover .comment-delete-active {
  visibility: visible;
}

.sub-container-video-random-play-video {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.video-container-play-video {
  width: 180px;
  margin-right: 15px;
  height: 110px;
  overflow: hidden;
  position: relative;
  border-radius: 7px;
}

.video-container-play-video img {
  width: 100%;
  border-radius: 7px;
  height: 100%;
  object-fit: cover;
}

.video-duration-play-video {
  position: absolute;
  bottom: 4px;
  right: 5px;
  color: white;
  transition: all 0.3s ease;
  padding: 5px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
}

.video-container-play-video:hover .video-duration-play-video {
  opacity: 0;
}

.text-video-user-container-play-video {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text-video-user-container-play-video a {
  text-decoration: none;
}

.title-video-play-video {
  font-weight: bold;
  color: var(--title-video-color);
  margin-bottom: 6px;
  overflow-wrap: anywhere;
  font-size: 18px;
}

a.username-video-play-video {
  margin: 5px 0;
  overflow-wrap: anywhere;
}

a.username-video-play-video:hover {
  color: var(--title-video-color);
}

.username-video-play-video {
  font-size: 12.5px;
  overflow-wrap: anywhere;
  color: rgb(131, 130, 130);
}

.no-data-img {
  position: absolute;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  min-width: 200px;
  max-width: 450px;
}

.popup-delete-account {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 100%;
  top: 0;
  z-index: 999999;
  display: flex;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.box-popup-delete-account {
  margin: auto;
  width: 85%;
  max-width: 500px;
  border-radius: 5px;
  background: var(--primary-color-light);
}

.box-popup-delete-account .text-box-popup-delete-account {
  font-size: 18px;
  display: block;
  line-height: 25px;
  padding: 25px;
  box-sizing: border-box;
}

.text-box-popup-delete-account b {
  color: var(--primary-color-dark-inverted);
}

.text-box-popup-delete-account div {
  margin-top: 15px;
  color: #6f6e76;
}

.btn-box-popup-delete-account-container {
  padding: 15px 25px;
  border-radius: 0 0 5px 5px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: var(--pop-delete-background);
}

.btn-box-popup-delete-account-container div {
  margin-right: 25px;
  color: #7e7f81;
  cursor: pointer;
}

.btn-box-popup-delete-account-container button {
  background: rgb(235, 87, 87);
}

.container-error-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.img-error-page {
  width: 80%;
  min-width: 150px;
  max-width: 600px;
}

.text-container-error-page {
  margin: 10px 0 40px 0;
}

.text-container-error-page div:first-child {
  font-size: 35px;
  font-weight: bold;
  opacity: 0.9;
  color: var(--title-video-color);
  margin-bottom: 10px;
}

.text-container-error-page div:last-child {
  opacity: 0.7;
  color: var(--primary-color-dark-inverted);
}

.btn-back-home-error {
  padding: 15px 30px;
  border-radius: 50px;
}

.error-alert,
.succes-alert {
  position: fixed;
  z-index: 150;
  top: 80px;
  right: 20px;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  background: var(--primary-color-light);
  border-radius: 5px;
  box-shadow: var(--box-shadow-popup-error) 0px 8px 24px;
  width: 80%;
  transition: all 0.3s ease;
  padding: 15px;
  box-sizing: border-box;
  max-width: 320px;
  height: 60px;
  border-left: 7px solid #e4545b;
}

.succes-alert {
  border-left: 7px solid #74c85f;
}

.error-alert .error-i,
.succes-i {
  font-size: 25px;
  color: #e4545b;
  margin-right: 20px;
}

.succes-i {
  color: #74c85f;
}

.text-alert-error div:first-child,
.text-alert-succes div:first-child {
  color: var(--title-video-color);
  font-size: 18px;
  font-weight: bold;
}

.text-alert-error div:last-child,
.text-alert-succes div:last-child {
  color: var(--title-video-color);
  opacity: 0.5;
}

.error-close,
.succes-close {
  color: var(--title-video-color);
  position: absolute;
  top: 12px;
  opacity: 0.5;
  cursor: pointer;
  right: 12px;
}

.small-logo-img-fixed {
  margin-left: 0;
  display: none;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 3200px) {
  .nav-content {
    max-width: none;
  }

  .form-search-video {
    margin: auto;
  }

  .content-container {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 2390px;
  }
}

@media screen and (max-width: 2650px) {
  .video-container:first-child,
  .video-container:nth-child(2),
  .video-container:nth-child(3) {
    width: 32.3%;
  }

  .video-container,
  .video-container-channel {
    width: 19%;
  }
}

@media screen and (max-width: 2335px) {
  .video-container:first-child,
  .video-container:nth-child(2),
  .video-container:nth-child(3) {
    width: 31.8%;
  }

  .video-container,
  .video-container-channel {
    width: 18.7%;
  }
}

@media screen and (max-width: 1880px) {
  .video-container,
  .video-container-channel {
    width: 23.5%;
  }
}

@media screen and (max-width: 1667px) {
  .video-container:first-child,
  .video-container:nth-child(2) {
    width: 47.5%;
  }

  .video-container:nth-child(3),
  .video-container,
  .video-container-channel {
    width: 23%;
  }

  .video-container:nth-child(3) .video-thumbnail {
    height: 150px;
  }
}

@media screen and (max-width: 1430px) {
  .video-container:nth-child(3),
  .video-container,
  .video-container-channel {
    width: 31%;
  }
}

@media screen and (max-width: 1230px) {
  .drag-area .icon {
    font-size: 80px;
  }

  .drag-area header {
    font-size: 25px;
    width: 300px;
    margin-bottom: 20px;
  }

  .drag-area span {
    display: none;
  }

  .video-container:first-child,
  .video-container:nth-child(2) {
    width: 47.5%;
  }

  .video-container:nth-child(3),
  .video-container,
  .video-container-channel {
    width: 30.8%;
  }

  .nav-content {
    padding-left: 20px;
    padding-right: 55px;
  }

  .content-container {
    padding-left: 12px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 1100px) {
  .form-search-video-play input {
    width: 75%;
  }

  .dropdown-profile-container {
    left: -155px;
  }

  .dropdown-profile-container::before {
    margin: -12px 0;
    margin-left: 160px;
  }

  .video-container:first-child,
  .video-container:nth-child(2) {
    width: 47%;
  }

  .image-login {
    margin-right: 0px;
  }

  .video-container:nth-child(3),
  .video-container,
  .video-container-channel {
    width: 30.2%;
  }

  .nav-content {
    padding-left: 25px;
    padding-right: 30px;
  }

  .nav-username-profile {
    display: none;
  }
}

@media screen and (max-width: 1010px) {
  .form-search-video-play input {
    width: 100%;
  }

  .container-video-play-video {
    padding-right: 20px !important;
  }

  .sub-container-video-play-video {
    width: 100%;
  }

  .video-play-video {
    height: 55vw;
    max-height: 470px;
  }

  .container-video-play-video {
    flex-direction: column;
  }

  .container-video-random-play-video {
    width: 100%;
    margin: 0;
  }

  .header-sub-video-play-video-container {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 955px) {
  .content-container-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title-profile-content-container {
    display: none !important;
  }

  .image-login {
    display: none;
  }

  .container-input-add-video-title {
    width: 45%;
  }

  .container-input-add-videos {
    width: 55%;
  }

  .input-login-container {
    border-radius: 10px;
    border: 4px solid rgb(230, 230, 230);
    padding: 80px 60px;
  }

  .content-container {
    margin-left: 52px !important;
  }

  .overlay-show {
    visibility: visible !important;
    opacity: 1;
  }

  .sidebar-container {
    width: 52px !important;
  }

  .content-container-play-video {
    margin-left: 0 !important;
  }

  .sidebar-item-link {
    padding-left: 13px !important;
  }

  .nav-content {
    padding-left: 0;
  }

  .container-input-edit-video-title {
    width: 70%;
  }

  .content-container-play-video {
    margin-left: 0 !important;
  }

  .sidebar-theme {
    visibility: hidden !important;
  }
}

@media screen and (max-width: 760px) {
  .video-play-video {
    position: sticky;
    top: 65px;
    border-radius: 0;
    margin-bottom: 20px;
    z-index: 50;
  }

  .sub-container-video-play-video {
    margin-top: -12px;
  }

  .header-sub-video-play-video-container {
    padding-top: 5px;
    margin: 0 15px;
  }

  .comment-sub-video-play-video-container {
    margin: 0 15px;
  }

  .container-video-random-play-video {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .desc-sub-video-play-video-container {
    margin: 0 15px;
  }

  .content-container-play-video {
    padding: 0 !important;
  }

  .container-video-play-video {
    padding: 0 !important;
  }

  .video-container:first-child {
    width: 100%;
  }

  .video-container:nth-child(2),
  .video-container:nth-child(3),
  .video-container,
  .video-container-channel {
    width: 45%;
  }

  .video-container:nth-child(2) .video-thumbnail {
    height: 150px;
  }
}

@media screen and (max-width: 630px) {
  .desc-sub-video-play-video-container img {
    width: 45px;
    height: 45px;
  }

  .sub-desc-sub-video-play-video {
    margin-top: 12px;
  }

  .input-container-without-btn-form-add-video {
    flex-direction: column;
  }
  .container-input-add-video-title {
    width: 100%;
  }

  .input-edit-video-container-thumbnail {
    margin-left: 0;
  }

  .container-input-add-videos {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }

  .drag-area {
    height: 55vw !important;
    min-height: 270px;
  }

  .search-btn {
    display: block;
  }

  .small-logo-img {
    display: block;
  }

  .logo-img {
    display: none;
  }

  .form-search-video {
    display: none;
  }
}

.form-search-video-fixed {
  position: fixed;
  background: rgba(0, 0, 0, 0.582);
  left: 0;
  top: 0;
  z-index: 100000;
  right: 0;
  max-width: none;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.close-search-fixed {
  visibility: visible;
  cursor: pointer;
}

.input-fixed {
  width: 62% !important;
  background: white !important;
  margin: 30px auto !important;
}

@media screen and (max-width: 574px) {
  .input-login-container {
    width: 75%;
    padding: 60px 30px;
  }

  .logo-login-2 {
    display: block;
  }

  .logo-login {
    display: none;
  }

  .video-container:first-child {
    width: 100%;
  }

  .video-container:nth-child(2),
  .video-container:nth-child(3),
  .video-container,
  .video-container-channel {
    width: 100%;
  }

  .video-container .video-thumbnail,
  .video-container-channel .video-thumbnail,
  .video-container:first-child .video-thumbnail,
  .video-container:nth-child(2) .video-thumbnail,
  .video-container:nth-child(3) .video-thumbnail {
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .sidebar-container {
    width: 0 !important;
    border: none;
  }

  .content-container {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 490px) {
  .input-search-container-channel {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .input-fixed {
    margin: 30px !important;
  }

  .header-sub-video-play-video-container {
    padding-bottom: 70px;
  }

  .btn-like-unlike-container {
    left: 0;
    right: inherit;
  }

  .add-comment-container {
    margin-bottom: 50px;
  }

  .btn-container-input-comment-container {
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .text-container-error-page div:first-child {
    font-size: 25px;
  }

  .small-logo-img {
    width: 60px;
    padding: 8px 0;
    margin-left: 0;
  }

  .video-container .video-thumbnail,
  .video-container-channel .video-thumbnail,
  .video-container:first-child .video-thumbnail,
  .video-container:nth-child(2) .video-thumbnail,
  .video-container:nth-child(3) .video-thumbnail {
    height: 170px;
  }

  .logo-login-2 {
    width: 180px;
  }
}

@media screen and (max-width: 360px) {
  .text-video-user-container-play-video {
    width: 100%;
  }
  .video-play-video {
    top: 63px;
  }

  .container-video-play-video {
    width: 100%;
  }

  .input-comment-container {
    width: 75%;
    min-width: 200px !important;
  }

  .small-logo-img {
    display: none;
  }

  .small-logo-img-fixed {
    display: block;
  }

  .sub-container-video-random-play-video {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }

  .video-container-play-video .video-duration-play-video {
    bottom: 12px;
  }

  .video-container-play-video {
    height: auto;
    margin-bottom: 10px;
    width: 100%;
  }

  .video-container-play-video img {
    width: 100% !important;
    object-fit: cover;
    height: 30%;
    max-height: 180px !important;
  }
}

@media screen and (max-width: 340px) {
  .login-btn span {
    display: none;
  }

  .username-video .date-info {
    display: block;
  }

  .drag-area icon {
    font-size: 50px;
  }

  .drag-area header {
    font-size: 20px;
    width: 250px;
  }

  .sidebar-container {
    height: calc(100% - 64px);
  }

  .video-container .video-thumbnail,
  .video-container-channel .video-thumbnail,
  .video-container:first-child .video-thumbnail,
  .video-container:nth-child(2) .video-thumbnail,
  .video-container:nth-child(3) .video-thumbnail {
    height: 140px;
    min-width: 100px;
  }
}

@media screen and (min-width: 1600px) {
  .video-play-video {
    max-height: 500px;
  }

  .content-container-play-video {
    max-width: 1600px;
    margin-left: auto !important;
    margin: 62px auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1500px) {
  .form-search-video-play {
    margin-left: calc(50% - 250px) !important;
    transform: translateX(-50%) !important;
  }
}

.nav-content-play-video {
  max-width: none;
  padding-left: 0 !important;
  margin-left: 0;
}

.logo-img-play-video {
  margin-right: 0;
}

.form-search-video-play {
  margin: auto;
}

.content-container-play-video-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (min-width: 1750px) {
  .form-search-video-edit-profile {
    margin: auto;
    width: 870px !important;
    max-width: none;
  }

  .form-search-video-edit-profile input {
    max-width: 600px !important;
  }

  .content-container-edit-profile {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.favicon-fixed {
  margin: 15px;
  margin-left: 10px;
  display: block;
}

.logo-img-fixed {
  display: block !important;
}

.sidebar-theme-fixed {
  visibility: visible !important;
}

.sidebar-container-fixed {
  z-index: 999999999 !important;
  border: none;
  margin-left: -260px;
  padding-top: 0;
  transition: all 0.5s ease;
  height: 100%;
  width: 255px !important;
}

.title-profile-content-container-fixed {
  display: block !important;
}

.close-fixed-sb {
  position: absolute;
  top: 20px;
  color: var(--primary-color-dark-inverted);
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  right: 20px;
}

@media screen and (max-width: 955px) {
  .sidebar-container-channel {
    display: none;
  }

  .sidebar-container-fixed-margin {
    margin-left: 0 !important;
  }

  .content-container-channel {
    margin-left: 0 !important;
  }
}

.sidebar-container-fixed-margin-watch {
  margin-left: 0 !important;
}

.overlay-show-watch {
  visibility: visible !important;
  opacity: 1;
}

.input-wacth-sp {
  width: 100% !important;
}

@media screen and (min-width: 1010px) {
  .input-watch-ft {
    margin-left: -10%;
  }

  .input-wacth-sp {
    margin-left: -30%;
  }
}

.load-more-comments {
  background: transparent;
  box-sizing: border-box;
  border: 3px solid rgb(252, 116, 25);
  color: rgb(252, 116, 25);
  font-weight: bold;
  margin: 10px 0;
  width: 100%;
  padding: 15px 5px;
}

.load-more-comments:hover {
  background: rgb(252, 116, 25);
  color: white;
}
