<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Video</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
</head>

<body data-theme="">
    <div class="error-alert" style="top: 30px;">
        <i class="fas fa-times error-close"></i>
        <i class="fas fa-exclamation-triangle error-i"></i>
        <div class="text-alert-error">
            <div>Error</div>
            <div class="err-desc"></div>
        </div>
    </div>
    <div class="succes-alert" style="top: 30px;">
        <i class="fas fa-times succes-close"></i>
        <i class="far fa-check-circle succes-i"></i>
        <div class="text-alert-succes">
            <div>Succes</div>
            <div class="succes-desc"></div>
        </div>
    </div>
    <div class="container-add-video">
        <div class="header-add-video">
            <h1>Add Video</h1>
            <hr class="hr-add-video">
        </div>
        <form action="" class="form-add-video" encType="multipart/form-data">
            <div class="input-container-without-btn-form-add-video">
                <div class="container-input-add-video-title">
                    <div class="input-add-video-container">
                        <label for="title-add-video" class="label-add-video">Title</label>
                        <textarea name="titleAddVideo" id="title-add-video"
                            placeholder="Add a title that describes your video" maxlength="100" required></textarea>
                    </div>
                    <div class="input-add-video-container">
                        <label for="desc-add-video" class="label-add-video">Description</label>
                        <textarea name="descAddVideo" id="desc-add-video" placeholder="Tell viewers about your video"
                            maxlength="1000" required></textarea>
                    </div>
                    <div class="input-add-video-container input-add-video-container-thumbnail">
                        <div class="label-add-video">Add Thumbnail</div>
                        <div class="thumbnail-btn-container">
                            <label for="thumb-add-video" id="label-thumbnai-add-video">
                                <i class="fas fa-image"></i>
                            </label>
                        </div>
                        <div class="remove-thumbnail-btn">
                            <i class="fas fa-times"></i>
                        </div>
                        <input type="file" name="thumbAddVideo" id="thumb-add-video" accept="image/*"
                            style="opacity: 0;" required />
                    </div>
                </div>
                <div class="container-input-add-videos">
                    <div class="label-add-video">Add Video</div>
                    <div class="drag-area">
                        <div class="icon">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <header>Drag & Drop to Upload File</header>
                        <span>OR</span>
                        <button type="button">Browse File</button>
                    </div>
                    <input type="file" accept="video/*" name="videoAddVideo" class="input-choose-add-video" required
                        style="opacity: 0;" />
                    <div class="remove-thumbnail-btn-video">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="btn-submit-form-video-container">
                <button type="submit" class="btn-add-form-video-container">Add</button>
                <button type="button" onclick="location.href='/studio'">Cancel</button>
            </div>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    if (!localStorage.getItem("token")) {
        window.location.href = "/login";
    }

    $("#thumb-add-video").change(function (event) {
        var url = URL.createObjectURL(event.target.files[0]);
        $(this).parent().children('.thumbnail-btn-container').html(
            '<img alt="gambar" class="thumbnail-add-video" width="100%" height="100%" style="border-radius: 5px;object-fit: cover;">'
        );
        $(this).parent().children('.thumbnail-btn-container').children(".thumbnail-add-video").attr("src",
            url);
        $(".remove-thumbnail-btn").css({
            "display": "block"
        });
        $(".thumbnail-btn-container").css({
            "border": "3px solid rgb(185, 184, 184)"
        });
        $(".remove-thumbnail-btn").click(function () {
            $(this).parent().children('.thumbnail-btn-container').html(
                `<label for="thumb-add-video" id="label-thumbnai-add-video">
                        <i class="fas fa-image"></i>
                    </label>`
            );
            $(this).parent().children('#thumb-add-video').val('');
            $(this).css({
                "display": "none"
            });
            $(".thumbnail-btn-container").css({
                "border": "3px dashed rgb(185, 184, 184)"
            });
        })
    });

    const dropArea = document.querySelector(".drag-area"),
        dragText = dropArea.querySelector("header"),
        button = dropArea.querySelector("button"),
        input = document.querySelector(".input-choose-add-video");
    let file;

    input.addEventListener("change", function () {
        file = this.files[0];
        dropArea.classList.add("active");
        showFile();
    });

    dropArea.addEventListener("dragover", (event) => {
        event.preventDefault();
        dropArea.classList.add("active");
        dragText.textContent = "Release to Upload File";
    });

    dropArea.addEventListener("dragleave", () => {
        dropArea.classList.remove("active");
        dragText.textContent = "Drag & Drop to Upload File";
    });

    dropArea.addEventListener("drop", (event) => {
        event.preventDefault();
        file = event.dataTransfer.files[0];
        showFile();
    });

    function showFile() {
        let fileType = file.type;
        let validExtensions = ["video/mp4", "video/oog", "video/webm"];
        if (validExtensions.includes(fileType)) {
            let fileReader = new FileReader();
            fileReader.onload = () => {
                let fileURL = fileReader.result;
                let videoTag =
                    `<video style="width:100%;height:100%;object-fit: cover;border-radius:5px;">
                        <source src="${fileURL}">
                        </video>`;
                dropArea.innerHTML = videoTag;
            }

            fileReader.readAsDataURL(file);

            setTimeout(() => {
                $('.remove-thumbnail-btn-video').css({
                    "display": "block"
                });
            }, 1500);
        } else {
            alert("This is not an Video File!");
            dropArea.classList.remove("active");
            dragText.textContent = "Drag & Drop to Upload File";
        }
    }

    $(".remove-thumbnail-btn-video").click(function () {
        dropArea.innerHTML = `<div class="icon">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                </div>
                                <header>Drag & Drop to Upload File</header>
                                <span>OR</span>
                                <button type="button">Browse File</button>`;
        $('.remove-thumbnail-btn-video').css({
            "display": "none"
        });
        input.value = "";

        $(".drag-area").children("button").click(function () {
            $(this).parent().parent().children(".input-choose-add-video").click();
        })

        $(".container-input-add-videos").children(".input-choose-add-video").change(function () {
            file = this.files[0];
            dropArea.classList.add("active");
            showFile();
        });

        dropArea.classList.remove("active");
    })

    $(".drag-area").children("button").click(function () {
        $(".input-choose-add-video").click();
    })

    $(".input-add-video-container textarea").focus(function () {
        $(this).addClass("input-active-add-video")
        $(this).parent().children("label").addClass("input-active-add-video")
    });

    $(".input-add-video-container textarea").blur(function () {
        $(this).removeClass("input-active-add-video")
        $(this).parent().children("label").removeClass("input-active-add-video")
    });

    $('body').attr("data-theme", localStorage.getItem("theme"));

    $(".form-add-video").submit(function (event) {
        event.preventDefault()
        const titleAddVideo = $("textarea[name = titleAddVideo]").val();
        const descAddVideo = $("textarea[name = descAddVideo]").val();

        var fd = new FormData();

        var imagesFile = $('#thumb-add-video')[0].files[0];
        var videoFile = $('.input-choose-add-video')[0].files[0];
        fd.append('title', titleAddVideo);
        fd.append('desc', descAddVideo);
        fd.append('imagesFile', imagesFile);
        fd.append('videoFile', videoFile);

        addData(fd);
    })


    const addData = (fd) => {
        $.ajax({
            method: "POST",
            url: "/api/videos/add",
            data: fd,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("token")}`
            },
            contentType: false,
            processData: false,
            success: function (response) {
                if (response != 0) {
                    $(".succes-alert").css({
                        visibility: "visible",
                        opacity: "1"
                    });

                    $(".succes-desc").text("Video Uploaded");

                    setTimeout(() => {
                        $(".succes-alert").css({
                            visibility: "hidden",
                            opacity: "0"
                        });
                    }, 500);
                } else {
                    $(".error-alert").css({
                        visibility: "visible",
                        opacity: "1"
                    });

                    $(".err-desc").text("Video Not Uploaded");

                    setTimeout(() => {
                        $(".error-alert").css({
                            visibility: "hidden",
                            opacity: "0"
                        });
                    }, 500);
                }
            },
        }).done(function () {
            setTimeout(() => {
                window.location.href = "/studio"
            }, 500);
        }).fail(function (err) {
            $(".error-alert").css({
                visibility: "visible",
                opacity: "1"
            });

            $(".err-desc").text(err.responseJSON.err);

            setTimeout(() => {
                $(".error-alert").css({
                    visibility: "hidden",
                    opacity: "0"
                });
            }, 5000);
        });

    };

    $(".error-close").click(function () {
        $(".error-alert").css({
            visibility: "hidden",
            opacity: "0"
        });
    })

    $(".succes-close").click(function () {
        $(".succes-alert").css({
            visibility: "hidden",
            opacity: "0"
        });
    })
</script>

</html>