<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rasyid Film</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
</head>

<body data-theme="dar">
    <div class="container">
        <header class="nav-container">
            <div class="nav-logo">
                <i class="fas fa-bars nav-hamburger"></i>
                <a href="/">
                    <img src="/images/default-img/logo.png" alt="image" class="logo-img" />
                    <img src="/images/default-img/small-logo.png" alt="image" class="small-logo-img" />
                </a>
            </div>
            <div class="nav-content nav-content-studio">
                <form action="" class="form-search-video">
                    <input type="search" placeholder="Search For Your Video Title" />
                    <i class="fas fa-times close-search"></i>
                </form>
                <div class="search-btn">
                    <i class="fas fa-search"></i>
                </div>
                <div class="nav-upload">
                    <button class="btn-upload" onclick="location.href='/studio/add'">
                        <i class="fas fa-plus" style="font-size: 12px;margin-right: 7px;"></i>
                        <i class="fas fa-video"></i>
                    </button>
                    <div class="nav-user">
                        <div class="profile-img-container">
                            <img src="/images/default-img/profile-user.png" class="profile-user-img" alt="image" />
                            <div class="dropdown-profile-container">
                                <a href="/studio" class="dropdown-profile-container-link">
                                    <i class="fas fa-play-circle"></i>
                                    Rasyid Film Studio
                                </a>
                                <a href="/login"
                                    class="dropdown-profile-container-link dropdown-profile-container-link-signout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Sign Out
                                </a>
                            </div>
                        </div>
                        <a class="nav-username-profile"></a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="sidebar-container">
                <div class="image-profile-content-container">
                    <a href="/studio" class="a-image-profile-content">
                        <img src="/images/default-img/profile.png" alt="image" class="image-profile-content" />
                    </a>
                    <div class="title-profile-content-container">
                        <div class="title-profile-content">Channel Anda</div>
                        <div class="sub-title-profile-content" style="font-size: 14px;"></div>
                    </div>
                </div>
                <a href="/studio" class="sidebar-item-link" id="sidebar-item-link">
                    <i class="fas fa-video icon-item-link"></i>
                    <span class="text-item-link">Content</span>
                </a>
                <div class="sidebar-theme">
                    <i class="fas fa-sun icon-sidebar-theme light-theme-btn"></i>
                    <i class="fas fa-moon icon-sidebar-theme dark-theme-btn"></i>
                </div>
            </div>
            <div class="overlay"></div>
            <div class="content-container content-container-content">
                <div class="header-content-container-content">Channel Content</div>
                <div class="container-table-content">
                    <div class="container-table-content-1">
                        <div class="container-table-content-2">
                            <table class="table-content">
                                <thead>
                                    <th>#</th>
                                    <th class="th-style">Title</th>
                                    <th class="th-style">URL</th>
                                    <th>Like</th>
                                    <th>Dislike</th>
                                    <th>Views</th>
                                    <th class="th-style">Thumbnail</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>action</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btn-pagination-content-container">
                    <button class="btn-pagination-table-content btn-prev-studio" disabled
                        style="opacity: .8;cursor: not-allowed;">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="btn-pagination-table-content btn-next-studio">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </main>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let dataQuery = null;

    $(document).ready(function () {
        if (localStorage.getItem("theme") == "dark") {
            $('body').attr("data-theme", localStorage.getItem("theme"));
            $(".dark-theme-btn").addClass("icon-sidebar-theme-active");
            $(".light-theme-btn").removeClass("icon-sidebar-theme-active");
        } else {
            $('body').attr("data-theme", localStorage.getItem("theme"));
            $(".light-theme-btn").addClass("icon-sidebar-theme-active");
            $(".dark-theme-btn").removeClass("icon-sidebar-theme-active");
        }

        loadData().done(function (data) {
            let {
                videos,
                videosNoLimit,
                userToken,
                pIndex,
            } = data;

            dataQuery = {
                pIndex,
                videosNoLimit
            }

            drawTable(videos)
            drawProfile(userToken)
        })
    });

    const loadData = (queryUrl) => {
        return $.ajax({
            url: `/api/videos/studio`,
            method: 'GET',
            data: queryUrl,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("token")}`
            }
        }).fail(function (err) {
            window.location.href = "/login";
        });
    };

    const drawTable = (videos) => {
        let options = {
            year: "numeric",
            month: "long",
            day: "numeric",
        };
        let trCode = "";
        videos.forEach((m) => {
            trCode += `<tr style="font-family:sans-serif;">
                                    <td>${m.id}</td>
                                    <td>${m.title}</td>
                                    <td>${m.UrlVideo}</td>
                                    <td>${m.likes}</td>
                                    <td>${m.dislikes}</td>
                                    <td>${m.views}</td>
                                    <td>${m.thumbnail}</td>
                                    <td>${new Date(m.createdAt).toLocaleString("id-ID",options)}</td>
                                    <td>${new Date(m.updatedAt).toLocaleString("id-ID",options)}</td>
                                    <td>
                                        <button class="btn-edit-table-content" onclick="location.href='/studio/edit/${m.id}'">Edit</button>
                                        <button class="btn-delete-table-content" data-idVideo="${m.id}">Delete</button>
                                    </td>
                                </tr>`;
        });

        $(".table-content tbody").html(trCode);
    }

    const drawProfile = (userToken) => {

        $(".nav-username-profile").attr('href', `/channel/${userToken.userId}`);
        $(".nav-username-profile").text(
            `${userToken.firstname.toUpperCase()} ${userToken.lastname.toUpperCase()}`);
        $(".sub-title-profile-content").text(
            `${userToken.firstname.toUpperCase()} ${userToken.lastname.toUpperCase()}`);
    }

    $(".table-content").on("click", ".btn-delete-table-content", function () {
        deleteData($(this).attr("data-idVideo"));
    })

    const deleteData = (deleteTableUrl) => {
        $.ajax({
            method: "DELETE",
            url: `/api/videos/delete/${deleteTableUrl}`,
            headers: {
                'Authorization': `Bearer ${localStorage.getItem("token")}`
            }
        }).done(function () {
            window.location.href = `/studio`
        }).fail(function (err) {
            console.log(err);
        })
    };

    $(".btn-prev-studio").click(function () {
        loadData({
            searchTitle: $(".form-search-video input").val(),
            page: dataQuery.pIndex - 1
        }).done(function (data) {
            let {
                videos,
                videosNoLimit,
                userToken,
                pIndex,
            } = data;

            dataQuery = {
                pIndex,
                videosNoLimit
            }

            drawTable(videos);

            if (pIndex < 2) {
                $(".btn-prev-studio").attr("disabled", true);
                $(".btn-prev-studio").css({
                    opacity: ".8",
                    cursor: "not-allowed"
                });
            }

            $(".btn-next-studio").attr("disabled", false);
            $(".btn-next-studio").css({
                opacity: "1",
                cursor: "pointer"
            });
        })

    })

    $(".btn-next-studio").click(function () {
        loadData({
            searchTitle: $(".form-search-video input").val(),
            page: dataQuery.pIndex + 1
        }).done(function (data) {
            let {
                videos,
                videosNoLimit,
                userToken,
                pIndex,
            } = data;

            dataQuery = {
                pIndex,
                videosNoLimit
            }

            drawTable(videos)

            if (pIndex == Math.ceil(videosNoLimit / 5)) {
                $(".btn-next-studio").attr("disabled", true);
                $(".btn-next-studio").css({
                    opacity: ".8",
                    cursor: "not-allowed"
                });
            }

            $(".btn-prev-studio").attr("disabled", false);
            $(".btn-prev-studio").css({
                opacity: "1",
                cursor: "pointer"
            });
        })
    })

    $(".form-search-video").submit(function (event) {
        event.preventDefault();

        loadData({
            searchTitle: $(".form-search-video input").val()
        }).done(function (data) {
            let {
                videos,
                videosNoLimit,
                userToken,
                pIndex,
            } = data;

            dataQuery = {
                pIndex,
                videosNoLimit
            }

            drawTable(videos)

            if (videosNoLimit < 6) {
                $(".btn-next-studio").attr("disabled", true);
                $(".btn-next-studio").css({
                    opacity: ".8",
                    cursor: "not-allowed"
                });
            } else {
                $(".btn-next-studio").attr("disabled", false);
                $(".btn-next-studio").css({
                    opacity: "1",
                    cursor: "pointer"
                });
            }
        })
    });

    $(".nav-hamburger").click(function () {
        if ($(".sidebar-container").css("width") == "255px") {
            if (window.matchMedia("(max-width: 400px)").matches) {
                $(".sidebar-container").animate({
                    width: "0",
                });
            } else {
                $(".sidebar-container").animate({
                    width: "52px",
                });
            }

            $(".sidebar-item-link").animate({
                paddingLeft: "13px",
            });
            $(".content-container").animate({
                marginLeft: "52px",
            });
            $(".sidebar-theme").css({
                visibility: "hidden",
            });
            $(".title-profile-content-container").css({
                display: "none",
            });
            $(".overlay").removeClass("overlay-show");
            $(".nav-content").removeClass("hide-all");
            $(".small-logo-img").removeClass("small-logo-img-block");
        } else {
            $(".sidebar-container").animate({
                width: "255px",
            });
            $(".sidebar-item-link").animate({
                paddingLeft: "20px",
            });
            setTimeout(() => {
                $(".title-profile-content-container").css({
                    display: "block",
                });
            }, 150);
            $(".content-container").animate({
                marginLeft: "255px",
            });
            $(".sidebar-theme").css({
                visibility: "visible",
            });
            $(".overlay").addClass("overlay-show");
            $(".nav-content").addClass("hide-all");
            $(".small-logo-img").addClass("small-logo-img-block");
        }
    });

    $(".search-btn").on("click", function () {
        if (window.matchMedia("(max-width: 400px)").matches) {
            $(".sidebar-container").animate({
                width: "0",
            });
        } else {
            $(".sidebar-container").animate({
                width: "52px",
            });
        }
        $(".form-search-video").addClass("form-search-video-fixed");
        $(".close-search").addClass("close-search-fixed");
        $(".form-search-video input").addClass("input-fixed");
        $(".sidebar-container").css({
            "z-index": "-1",
        });
        $(".sidebar-item-link").css({
            paddingLeft: "13px",
        });
        $(".title-profile-content-container").css({
            display: "none",
        });
        $(".sidebar-theme").css({
            visibility: "hidden",
        });
    });

    $(".close-search").on("click", function () {
        $(".form-search-video").removeClass("form-search-video-fixed");
        $(".close-search").removeClass("close-search-fixed");
        $(".form-search-video input").removeClass("input-fixed");
        $(".sidebar-container").css({
            "z-index": "1000",
        });
    });

    $('.form-search-video input').keyup(function (e) {
        if (e.keyCode == 13) {
            $(".form-search-video").removeClass("form-search-video-fixed");
            $(".close-search").removeClass("close-search-fixed");
            $(".form-search-video input").removeClass("input-fixed");
            $(".sidebar-container").css({
                "z-index": "1000",
            });
        }
    });

    $('.form-search-video input').keyup(function (e) {
        if (e.keyCode == 13) {
            $(".form-search-video").removeClass("form-search-video-fixed");
            $(".close-search").removeClass("close-search-fixed");
            $(".form-search-video input").removeClass("input-fixed");
            $(".sidebar-container").css({
                "z-index": "1000",
            });
        }
    });

    $(".overlay").on("click", function () {
        if (window.matchMedia("(max-width: 400px)").matches) {
            $(".sidebar-container").animate({
                width: "0",
            });
        } else {
            $(".sidebar-container").animate({
                width: "52px",
            });
        }
        $(".title-profile-content-container").css({
            display: "none",
        });
        $(".sidebar-item-link").animate({
            paddingLeft: "13px",
        });
        $(".content-container").animate({
            marginLeft: "52px",
        });
        $(".sidebar-theme").css({
            visibility: "hidden",
        });
        $(".overlay").removeClass("overlay-show");
        $(".nav-content").removeClass("hide-all");
        $(".small-logo-img").removeClass("small-logo-img-block");
    });

    $(".light-theme-btn").click(function () {
        localStorage.setItem("theme", "light");
        $('body').attr("data-theme", localStorage.getItem("theme"));
        $(".light-theme-btn").addClass("icon-sidebar-theme-active");
        $(".dark-theme-btn").removeClass("icon-sidebar-theme-active");
    });

    $(".dark-theme-btn").click(function () {
        localStorage.setItem("theme", "dark");
        $('body').attr("data-theme", localStorage.getItem("theme"));
        $(".dark-theme-btn").addClass("icon-sidebar-theme-active");
        $(".light-theme-btn").removeClass("icon-sidebar-theme-active");
    });

    $(document).click(function (event) {
        if (
            event.target.className != "profile-user-img" &&
            event.target.className != "dropdown-profile-container-link"
        ) {
            $(".dropdown-profile-container").css({
                visibility: "hidden",
            });
        } else {
            $(".dropdown-profile-container").css({
                visibility: "visible",
            });
        }
    });

    $(".nav-upload").on("click",
        ".nav-user .profile-img-container .dropdown-profile-container .dropdown-profile-container-link-signout",
        function () {
            localStorage.removeItem("token")
        })
</script>

</html>