<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rasyid Film</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="#">
</head>

<body data-theme="">
  <div class="container">
    <header class="nav-container">
      <div class="nav-logo">
        <i class="fas fa-bars nav-hamburger"></i>
        <a href="/">
          <img src="images/default-img/logo.png" alt="image" class="logo-img" />
          <img src="images/default-img/small-logo.png" alt="image" class="small-logo-img" />
        </a>
      </div>
      <div class="nav-content">
        <form action="" class="form-search-video">
          <input type="search" placeholder="Search" />
          <i class="fas fa-times close-search"></i>
        </form>
        <div class="search-btn">
          <i class="fas fa-search"></i>
        </div>
        <div class="nav-upload">
          <button class="btn-upload" onclick="location.href='/studio/add'" style="display: none;">
            <i class="fas fa-plus" style="font-size: 12px;margin-right: 7px;"></i>
            <i class="fas fa-video"></i>
          </button>
          <div class="nav-user" style="display: none;">
            <div class="profile-img-container">
              <img src="/images/default-img/profile-user.png" class="profile-user-img" alt="image" />
              <div class="dropdown-profile-container">
                <a href="/studio" class="dropdown-profile-container-link">
                  <i class="fas fa-play-circle"></i>
                  Rasyid Film Studio
                </a>
                <a href="/login" class="dropdown-profile-container-link dropdown-profile-container-link-signout">
                  <i class="fas fa-sign-out-alt"></i>
                  Sign Out
                </a>
              </div>
            </div>
            <a class="nav-username-profile"></a>
          </div>
          <button class="login-btn" onclick="location.href='/login'">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="sidebar-container">
        <a href="/" class="sidebar-item-link sidebar-item-link-active">
          <i class="fas fa-home icon-item-link"></i>
          <span class="text-item-link">Home</span>
        </a>
        <a class="sidebar-item-link sidebar-item-link-channel-sb" style="display: none;">
          <i class="fas fa-video icon-item-link"></i>
          <span class="text-item-link">Your Channel</span>
        </a>
        <div class="sidebar-theme">
          <i class="fas fa-sun icon-sidebar-theme light-theme-btn"></i>
          <i class="fas fa-moon icon-sidebar-theme dark-theme-btn"></i>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="content-container"></div>
    </main>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  const renderCardVideo = () => {
    $(".video-thumbnail").removeClass("loading");
    $(".video-duration").css({
      visibility: "visible",
    });
    $(".container-video-profile-img").removeClass("loading");
    $(".video-profile-img").css({
      visibility: "visible",
    });
    $(".title-video").removeClass("loading");
    $(".title-video").addClass("color-title-video");
    $(".username-video").removeClass("loading");
    $(".username-video").addClass("color-title-video-transparent");
  };

  window.addEventListener("load", () => {
    renderCardVideo();
    if (localStorage.getItem("theme") == "dark") {
      $('body').attr("data-theme", localStorage.getItem("theme"));
      $(".dark-theme-btn").addClass("icon-sidebar-theme-active");
      $(".light-theme-btn").removeClass("icon-sidebar-theme-active");
    } else {
      $('body').attr("data-theme", localStorage.getItem("theme"));
      $(".light-theme-btn").addClass("icon-sidebar-theme-active");
      $(".dark-theme-btn").removeClass("icon-sidebar-theme-active");
    }

    let url = window.location.href.split("?").pop();

    loadData(`?${url}`);
    window.history.replaceState({}, "", "/");
  });

  const loadData = (queryUrl) => {
    if (localStorage.getItem("token")) {
      $.ajax({
        url: '/api/token',
        headers: {
          'Authorization': `Bearer ${localStorage.getItem("token")}`
        }
      }).done(function (data) {
        $(".btn-upload").css({
          "display": "flex"
        });

        $(".nav-user").css({
          "display": "flex"
        });

        $(".login-btn").css({
          "display": "none"
        });
        
        $(".sidebar-item-link-channel-sb").css({
          "display": "block"
        });

        $(".nav-username-profile").attr('href', `/channel/${data.id}`);
        $(".sidebar-item-link-channel-sb").attr('href', `/channel/${data.id}`)

        $(".nav-username-profile").text(`${data.firstname.toUpperCase()} ${data.lastname.toUpperCase()}`);
      });
    }

    $.ajax({
      url: `/api/videos${queryUrl ? queryUrl : ""}`,
    }).done(function (videos) {
      let options = {
        year: "numeric",
        month: "long",
        day: "numeric",
      };

      let videoCode = "";
      if (videos.length == 0) {
        videoCode = `<img src="images/default-img/no-data.png" alt="image" class="no-data-img" />`
      } else {
        for (let i = 0; i < videos.length; i++) {
          videoCode += `<div class="video-container" onclick="location.href='/watch/${videos[i].id}'">
                          <div class="video-thumbnail loading" style="background-image: url(images/thumbnail/${videos[i].thumbnail}); background-repeat: no-repeat;width: 100%;">
                            <div class="video-duration">15.45</div>
                          </div>
                          <div class="text-video-container">
                            <a href="/channel/${videos[i].User.id}" class="container-video-profile-img loading stopClick">
                              <img src="images/default-img/profile.png" alt="image" class="video-profile-img" />
                            </a>
                            <div class="text-video-user-container">
                              <div class="title-video loading">${videos[i].title}</div>
                              <a href="/channel/${videos[i].User.id}" class="username-video loading stopClick">${videos[i].User.firstname.toUpperCase()} ${videos[i].User.lastname.toUpperCase()}</a>
                              <div class="username-video info-video loading">
                                <span class="view-info">${videos[i].views}</span> views &bull;
                                <span class="date-info">${new Date(videos[i].createdAt).toLocaleString("id-ID", options)}</span>
                              </div>
                            </div>
                          </div>
                        </div>`;
        }
      }
      $(".content-container").html(videoCode);
      renderCardVideo();
    });
  };

  $(".form-search-video").submit(function (event) {
    event.preventDefault();

    let inputSearch = $(".form-search-video input").val();
    urlSearch = `?searchName=${inputSearch}`;
    loadData(urlSearch);
  });

  $(".nav-hamburger").click(function () {
    if ($(".sidebar-container").css("width") == "255px") {
      if (window.matchMedia("(max-width: 400px)").matches) {
        $(".sidebar-container").animate({
          width: "0",
        });
      } else {
        $(".sidebar-container").animate({
          width: "52px",
        });
      }

      $(".sidebar-item-link").animate({
        paddingLeft: "13px",
      });
      $(".content-container").animate({
        marginLeft: "52px",
      });
      $(".sidebar-theme").css({
        visibility: "hidden",
      });
      $(".overlay").removeClass("overlay-show");
      $(".nav-content").removeClass("hide-all");
      $(".small-logo-img").removeClass("small-logo-img-block");
    } else {
      $(".sidebar-container").animate({
        width: "255px",
      });
      $(".sidebar-item-link").animate({
        paddingLeft: "20px",
      });
      $(".content-container").animate({
        marginLeft: "255px",
      });
      $(".sidebar-theme").css({
        visibility: "visible",
      });
      $(".overlay").addClass("overlay-show");
      $(".nav-content").addClass("hide-all");
      $(".small-logo-img").addClass("small-logo-img-block");
    }
  });

  $(".search-btn").on("click", function () {
    if (window.matchMedia("(max-width: 400px)").matches) {
      $(".sidebar-container").animate({
        width: "0",
      });
    } else {
      $(".sidebar-container").animate({
        width: "52px",
      });
    }
    $(".form-search-video").addClass("form-search-video-fixed");
    $(".close-search").addClass("close-search-fixed");
    $(".form-search-video input").addClass("input-fixed");
    $(".sidebar-container").css({
      "z-index": "-1",
    });
    $(".sidebar-item-link").css({
      paddingLeft: "13px",
    });
    $(".sidebar-theme").css({
      visibility: "hidden",
    });
  });

  $(".close-search").on("click", function () {
    $(".form-search-video").removeClass("form-search-video-fixed");
    $(".close-search").removeClass("close-search-fixed");
    $(".form-search-video input").removeClass("input-fixed");
    $(".sidebar-container").css({
      "z-index": "1000",
    });
  });

  $('.form-search-video input').keyup(function (e) {
    if (e.keyCode == 13) {
      $(".form-search-video").removeClass("form-search-video-fixed");
      $(".close-search").removeClass("close-search-fixed");
      $(".form-search-video input").removeClass("input-fixed");
      $(".sidebar-container").css({
        "z-index": "1000",
      });

      window.history.replaceState({}, "", "/");
    }
  });

  $(".overlay").on("click", function () {
    if (window.matchMedia("(max-width: 400px)").matches) {
      $(".sidebar-container").animate({
        width: "0",
      });
    } else {
      $(".sidebar-container").animate({
        width: "52px",
      });
    }
    $(".sidebar-item-link").animate({
      paddingLeft: "13px",
    });
    $(".content-container").animate({
      marginLeft: "52px",
    });
    $(".sidebar-theme").css({
      visibility: "hidden",
    });
    $(".overlay").removeClass("overlay-show");
    $(".nav-content").removeClass("hide-all");
    $(".small-logo-img").removeClass("small-logo-img-block");
  });

  $(".light-theme-btn").click(function () {
    localStorage.setItem("theme", "light");
    $('body').attr("data-theme", localStorage.getItem("theme"));
    $(".light-theme-btn").addClass("icon-sidebar-theme-active");
    $(".dark-theme-btn").removeClass("icon-sidebar-theme-active");
  });

  $(".dark-theme-btn").click(function () {
    localStorage.setItem("theme", "dark");
    $('body').attr("data-theme", localStorage.getItem("theme"));
    $(".dark-theme-btn").addClass("icon-sidebar-theme-active");
    $(".light-theme-btn").removeClass("icon-sidebar-theme-active");
  });


  $(document).click(function (event) {
    if (
      event.target.className != "profile-user-img" &&
      event.target.className != "dropdown-profile-container-link"
    ) {
      $(".dropdown-profile-container").css({
        visibility: "hidden",
      });
    } else {
      $(".dropdown-profile-container").css({
        visibility: "visible",
      });
    }
  });

  $(".nav-upload").on("click",
    ".nav-user .profile-img-container .dropdown-profile-container .dropdown-profile-container-link-signout",
    function () {
      localStorage.removeItem("token")
    })

  $(".stopClick").click(function (e) {
    e.stopPropagation();
  });
</script>

</html>